[submodule "euler"]
	path = euler
	url = git@github.com:fwdekker/project-euler.git
	branch = main
[submodule "aoc/src/main/resources"]
	path = aoc/src/main/resources
	url = git@github.com:fwdekker/aoc-inputs.git
